@using MundoMvc4.Common
@using MundoMvc4.Globalization
@model NewsBlockLocal

@{
    ViewBag.Title = Model.Name;
}
@if (User.IsInRole(MundoRoles.NEWS))
{
<div class="edit-menu-box">
    @Html.ActionLink(GActions.Edit, "Edit", new { argument = Model.NewsBlockId }) |[
    @Html.ActionLink("ru-RU", "EditLocal", new { argument = Model.NewsBlockId, lng = "ru-RU" }) 
    @Html.ActionLink("en-US", "EditLocal", new { argument = Model.NewsBlockId, lng = "en-US" }) 
    @Html.ActionLink("pt-BR", "EditLocal", new { argument = Model.NewsBlockId, lng = "pt-BR" }) ]
</div>
}
<h2>@Model.Name</h2>
<p>@Html.Raw(Model.Body)</p>

