@using System.Globalization
@using MundoMvc4
@model IList<Schedule>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Ajax.BeginForm(new AjaxOptions(){InsertionMode = InsertionMode.Replace,UpdateTargetId = "body-content"}))
{
     @Html.ValidationSummary(true)
    <table id="schedule">
        <caption>Edit</caption>
        <thead>
            <tr>
                <th></th>
                <th>
                    WeekDay
                </th>        
                <th>
                    StartTime
                </th>        
                <th>
                    EndTime;
                </th>
                <th>
                    Price
                </th>
                <th>
                    Active
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                @Html.HiddenFor(model=>Model[i].Id)
                @Html.HiddenFor(model=>Model[i].GymId)
                <td>
                    @Html.CheckBoxFor(model => Model[i].IsChecked)
                </td>
                <td>
                    @Html.DropDownListFor(model => Model[i].Day, CalendarHelper.WeekDays(Model[i].Day))
                </td>
                <td>
                    @Html.TextBoxFor(model => Model[i].Starts)
                </td>
                <td>
                    @Html.TextBoxFor(model => Model[i].Ends)
                </td>
                <td>
                    @Html.TextBoxFor(model => Model[i].Price)
                </td>
                <td>
                    @Html.CheckBoxFor(model => Model[i].IsActive)
                </td>
                <td>
                    @Html.ValidationMessageFor(model => Model[i].Starts)
                    @Html.ValidationMessageFor(model => Model[i].Ends)
                    @Html.ValidationMessageFor(model => Model[i].Price)
                </td>
            </tr>
        }
        </tbody>        
    </table>
    <p>
        <button type="submit" name="command" value="clone" >Clone</button>
        <button type="submit" name="command" value="delete" >Delete</button>
        <input type="submit" name="command" value="save" />
    </p>
}
