@using MundoMvc4
@model IEnumerable<ScheduleInfo>

@{
    ViewBag.Title = Html.Resource("GSchedule", "TitleRegions");
    var schedule = ScheduleTime.Convert(Model);
}
@section HeadSection
{
    <link href="@Url.Content("~/Content/schedule.css")" rel="stylesheet" type="text/css">
}
<h1>@Html.Resource("GSchedule", "TitleRegions")</h1>
<div id="schedule-filter">
    <div id="filter-caption">@Html.Resource("GSchedule","LabelSelect")</div>
    <div id="master-teacherbox" class="filterselector">
        <ul id="hidden-list">
            <li>преподавателю</li>
            <li class="sub"><a href="/">graduado Axe</a></li>
            <li class="sub"><a href="/">graduado Cantor</a></li>
            <li class="sub"><a href="/">graduado Linguado</a></li>
            <li class="sub"><a href="/">graduado Violino</a></li>
        </ul>
    </div>
    <div id="master-agebox" class="filterselector">
        <ul id="hidden-list">
            <li>возрасту группы</li>
            <li class="sub"><a href="/">взрослые</a></li>
            <li class="sub"><a href="/">дети/подростки</a></li>
        </ul>
    </div>
    <div id="master-placebox" class="filterselector">
        <ul id="hidden-list">
            <li>станции метро</li>
            <li class="sub"><a href="/">Восстания</a></li>
            <li class="sub"><a href="/">Елизаровская</a></li>
            <li class="sub"><a href="/">Политехническая</a></li>
        </ul>
    </div>
</div>
<table id="schedule">
    <thead>
        <tr>
            <th class="empty"></th>
            <th>@Html.Resource("GSchedule","Mo")</th>
            <th>@Html.Resource("GSchedule","Tu")</th>
            <th>@Html.Resource("GSchedule","We")</th>
            <th>@Html.Resource("GSchedule","Th")</th>
            <th>@Html.Resource("GSchedule","Fr")</th>
            <th>@Html.Resource("GSchedule","Sa")</th>
            <th>@Html.Resource("GSchedule","Su")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in schedule)
        {
            <tr >
                <td colspan="8"><hr /></td>
            </tr>
            <tr>
                <td>
                    <span id="schedtime">@String.Format("{0:hh\\:mm}",@item.Time)</span>
                </td>
                <td>
                    @TimeDayRenderer(item,DayOfWeek.Monday)
                </td>
                <td>
                    @TimeDayRenderer(item,DayOfWeek.Tuesday)
                </td>
                <td>
                    @TimeDayRenderer(item,DayOfWeek.Wednesday)
                </td>
                <td>
                    @TimeDayRenderer(item,DayOfWeek.Thursday)
                </td>
                <td>
                    @TimeDayRenderer(item,DayOfWeek.Friday)
                </td>
                <td>
                    @TimeDayRenderer(item,DayOfWeek.Saturday)
                </td>
                <td>
                    @TimeDayRenderer(item,DayOfWeek.Sunday)
                </td>
            </tr>
        }
    </tbody>
</table>
@helper TimeDayRenderer(ScheduleTime item, DayOfWeek day)
{
    foreach(var gym in item.GetGymsForDay(day) )
    {
        <span id="schedh">@Html.ActionLink(gym.Name,"Details","Gyms",new{argument=gym.SysName},null) </span><br />
        <span >@Html.ActionLink(gym.GroupInfo.Name,"Details","Groups",new{argument=gym.GroupInfo.SysName},null) </span><br />
    }
}
