@using MundoMvc4.Common
@using MundoMvc4.Globalization
@model ArticleLocal

@{
    ViewBag.Title = Model.Name;
}
@if (User.IsInRole(MundoRoles.WRITER))
{
    <div class="edit-menu-box">
        @Html.ActionLink(GActions.Edit, "Edit", new { argument = Model.Article.SysName })  [
        @Html.ActionLink("ru-Ru", "EditLocal", new { argument = Model.Article.SysName, lng = "ru-Ru" })
        @Html.ActionLink("en-US", "EditLocal", new { argument = Model.Article.SysName, lng = "en-US" })
        @Html.ActionLink("pt-Br", "EditLocal", new { argument = Model.Article.SysName, lng = "pt-Br" })]
        @Html.ActionLink(GActions.Delete, "Delete", new { argument = Model.Article.SysName })
    </div>
}
<h1>@Model.Name</h1>
<p>
    @Html.Raw(Model.Body)
</p>

