@using MundoMvc4.Globalization
@model MundoMvc4.DataLayer.Gym

@{
    ViewBag.Title = GGyms.EditTitle;
}
@section HeadSection
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>
}

<div class="edit-menu-box">
    @Html.ActionLink(GActions.Details, "Details","Gyms",new{argument=Model.SysName},null) [
    @Html.ActionLink(GGyms.EditSchedule, "Edit","Schedule",new{argument=Model.SysName},null) [
    @Html.ActionLink(GGyms.Schedule, "ForGym","Schedule",new{argument=Model.SysName},null) [
    @Html.ActionLink("ru-Ru", "EditLocal", new { argument = Model.SysName, lng = "ru-Ru" })
    @Html.ActionLink("en-US", "EditLocal", new { argument = Model.SysName, lng = "en-US" })
    @Html.ActionLink("pt-Br", "EditLocal", new { argument = Model.SysName, lng = "pt-Br" })]
    @Html.ActionLink(GActions.Delete, "Delete", new { argument = Model.SysName, lng = "pt-Br" })]
</div>
<h2>@GGyms.EditTitle</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@GGyms.Legend</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.SysName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SysName)
            @Html.ValidationMessageFor(model => model.SysName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <p>
            <input type="submit" value="@GActions.Save" />
        </p>
    </fieldset>
}

