@using MundoMvc4
@using MundoMvc4.Common
@using MundoMvc4.DataLayer.DataProviders
@using MundoMvc4.Globalization
@{
    var region = (RegionInfo)ViewBag.Region;
    var local = (string) ViewBag.Language;
    var regions = DataProviderFactory.GetRegions(local);
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <base href="@Url.Content("~/")"/>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css">
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/SiteCommon.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/AjaxLogin.js")" type="text/javascript"></script>
        <meta name="viewport" content="width=device-width">
        <!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
        <!--[if IE 7]>
        		<link rel="stylesheet" href="@Url.Content("~/Content/ie.css")">
            	<link rel="stylesheet" href="@Url.Content("~/Content/ie7.css")">
        <![endif]-->
        @RenderSection("HeadSection", false)
    </head>
    <body>
        <div id="master-superbox">
            [ 
            @if(User.IsInRole(MundoRoles.ADMINISTRATOR))
            {
                <text>
                    @Html.ActionLink("Admin","Admin","Home") | @Html.ActionLink("Membership","Index","Membership")
                </text>
            }
            @if (Request.IsAuthenticated)
            {
                <text>
                    @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", null, new { _class = "username" }) |
                    @Html.ActionLink(Master.LinkLogOff, "LogOff", "Account")
                </text>
            }
            else
            {
                <text>
                    @Html.ActionLink(Master.LinkRegister, "Register", "Account", null, new { id = "registerLink", data_dialog_title = "Registration" }) |
                    @Html.ActionLink(Master.LinkLogOn, "LogOn", "Account", null, new { id = "logonLink", data_dialog_title = "Identification" })
                </text>
            }
            ]
            <a href="@Url.RouteUrl(new { userLocal = "ru-RU" })" title="ru-RU"><img src="@Url.Content("~/Images/Master/ru-RU.png")" alt="ru-RU" /></a>
            <a href="@Url.RouteUrl(new { userLocal = "en-US" })" title="en-US"><img src="@Url.Content("~/Images/Master/en-US.png")" alt="ru-RU" /></a>
            <a href="@Url.RouteUrl(new { userLocal = "pt-BR" })" title="pt-BR"><img src="@Url.Content("~/Images/Master/pt-BR.png")" alt="ru-RU" /></a>
        </div>
        <header id="master-header">
            <div id="master-logobox" >
                <a href="@Url.Action("Index","Home")"><img alt="logo" height="100" src="@Url.Content("~/Images/Master/mundo_logo.png")"/></a>
                <div id="master-citybox" class="selector">
                    <ul id="region-list">
                        <li id="city">@region.Name</li>
                        @foreach (var reg in regions)
                        {
                            if(@reg.SysName != @region.SysName)
                            {
                                <li id="city" class="sub">
                                    @Html.ActionLink(reg.Name, "Index", "Home", new { userRegion = region.SysName }, null)
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div> 
            <nav id="topNav">
                <ul>
                    <li >
                        <a href="@Url.Action("Details", "Articles", new { argument = "capoeira_main" })" title="Nav Link 1">@Html.Resource("Menu","Capoeira")</a>
                        <ul>
                            <li><a href="@Url.Action("Details", "Articles", new { argument = "capoeira_main" })" title="@Html.Resource("Menu","Capoeira")">@Html.Resource("Menu","CapoeiraAbout")</a></li>
                            <li><a href="@Url.Action("Details", "Articles", new { argument = "capoeira_history" })" title="@Html.Resource("Menu","Capoeira")">@Html.Resource("Menu","CapoeiraHistory")</a></li>
                            <li><a href="@Url.Action("Details", "Articles", new { argument = "capoeira_music" })" title="@Html.Resource("Menu","Capoeira")">@Html.Resource("Menu","CapoeiraMusic")</a></li>
                            <li><a href="@Url.Action("Details", "Articles", new { argument = "capoeira_mundo" })" title="@Html.Resource("Menu","Capoeira")">@Html.Resource("Menu","CapoeiraOurSchool")</a></li>
                            <li class="last">
                                <a href="@Url.Action("Details", "Articles", new { argument = "capoeira_mestres" })" title="@Html.Resource("Menu","Capoeira")">@Html.Resource("Menu","CapoeiraMestres")</a>
                            </li>
                        </ul> 
                    </li>
                    <li style="min-width: 145px;">
                        <a href="#" title="Nav Link 1">@Html.Resource("Menu","Classes")</a>
                        <ul>
                            <li><a href="@Url.Action("Details", "Articles", new { argument = "classes_about" })" title="@Html.Resource("Menu","Classes")">@Html.Resource("Menu","ClassesAbout")</a></li>
                            <li><a href="@Url.Action("ForRegion", "Schedule", new { argument = region.SysName })" title="@Html.Resource("Menu","Classes")">@Html.Resource("Menu","ClassesSchedule")</a></li>
                            <li><a href="@Url.Action("Index", "Groups", new { argument = region.SysName })" title="@Html.Resource("Menu","Classes")">@Html.Resource("Menu","ClassesTutors")</a>
                            </li>
                            <li><a href="@Url.Action("Details", "Articles", new { argument = "classes_levels" })" title="@Html.Resource("Menu","Classes")">@Html.Resource("Menu","ClassesGradations")</a></li>
                            <li class="last">
                                <a href="#" title="@Html.Resource("Menu","Classes")">@Html.Resource("Menu","ClassesFAQ")</a>
                            </li>
                        </ul> 
                    </li>
                    <li>
                        <a href="#" title="Nav Link 1">@Html.Resource("Menu","Resources")</a>
                        <ul>
                            <li></li>
                            <li><a href="#" title="@Html.Resource("Menu","Resources")">@Html.Resource("Menu","ResourcesDictionary")</a></li>
                            <li><a href="#" title="@Html.Resource("Menu","Resources")">@Html.Resource("Menu","ResourcesPhoto")</a></li>
                            <li><a href="#" title="@Html.Resource("Menu","Resources")">@Html.Resource("Menu","ResourcesVideo")</a></li>
                            <li><a href="#" title="@Html.Resource("Menu","Resources")">@Html.Resource("Menu","ResourcesAudio")</a></li>
                            <li><a href="#" title="@Html.Resource("Menu","Resources")">@Html.Resource("Menu","ResourcesSongs")</a></li>
                            <li class="last">
                                <a href="#" title="@Html.Resource("Menu","Resources")">@Html.Resource("Menu","ResourcesArticles")</a>
                            </li>
                        </ul> 
                    </li>
                    <li><a href="@Url.Action("Details", "Articles", new { argument = "show" })" title="@Html.Resource("Menu","ShowGroup")">@Html.Resource("Menu","ShowGroup")</a></li>
                    <li>
                        <a href="#" title="Nav Link 1">@Html.Resource("Menu","Events")</a>
                        <ul>
                            <li><a href="#" title="@Html.Resource("Menu","Events")">@Html.Resource("Menu","EventsCalendar")</a></li>
                            <li><a href="@Url.Action("Index", "News", new { argument = region.SysName })" title="@Html.Resource("Menu","Events")">@Html.Resource("Menu","EventsNews")</a></li>
                            <li class="last">
                                <a href="#" title="@Html.Resource("Menu","Events")">@Html.Resource("Menu","EventsArchive")</a>
                            </li>
                        </ul> 
                    </li>
                </ul>
            </nav>
        </header>
        @RenderBody()
        
        <div id="content-background"></div>
        <footer id="master-footer">
            <div id="footer-social">
                <a href="http://www.facebook.com/groups/129848893717443/" title="@Html.Resource("Master","LinkFacebook")"><img src="@Url.Content("~/Images/Master/facebook.png")" alt="@Html.Resource("Master","LinkFacebook")" /></a>
                <a href="http://twitter.com/#!/CapoeiraRussia" title="@Html.Resource("Master","LinkTwitter")"><img src="@Url.Content("~/Images/Master/twitter.png")" alt="@Html.Resource("Master","LinkTwitter")" /></a>            
                <a href="http://vkontakte.ru/capoeirarussia" title="@Html.Resource("Master","LinkVKontakte")"><img src="@Url.Content("~/Images/Master/vkontakte.png")" alt="@Html.Resource("Master","LinkVKontakte")" /></a>
            </div>
            <div id="footer-contacts">
                <span id="footer-phone">@region.Phone</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span id="footer-mail"><a href="mailto:@region.EMail">@region.EMail</a></span>
            </div>
            <div id="footer-copyrights">@DateTime.Now.Year @Html.Resource("Master","LinkCopyright")</div>
        </footer>
    </body>
</html>
